@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここまで */

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    display: flex;
    /* max-width: 960px; */
    justify-content: space-between;
    padding: 20px 0;
    /* margin: 0 auto; */
    align-items: center;
}

h1 {
    font-size: 40px;
}

.title {
    padding: 10px 0;
}

.sub {
    color: dimgray;
}

.menu {
    display: flex;
    margin-top: 45px;
}

.menu li {
    padding: 0 25px;
}

/* くの字下向きアイコン */
.dli-chevron-down {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 0.4em;
    height: 0.4em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}

/* 虫眼鏡アイコン */
.magnifying_glass {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    color: #000;
    font-size: 20px;
    margin-top: 45px;
}
.magnifying_glass::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0.7em;
    height: 0.7em;
    box-sizing: border-box;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    content: "";
}
.magnifying_glass::after {
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: -1;
    transform: rotate(-45deg);
    width: 0.15em;
    height: 1em;
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
}

img {
    margin-top: 45px;
}

.sentence {
    font-size: 25px;
    color: dimgray;
    line-height: 1.5;
    padding-top: 100px;
    padding-bottom: 120px;
}

/* メインここまで */

/* .wrapper2 {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

.date {
    width: 30%;
}

.contents {
    width: 70%;
}

.title {
    padding-bottom: 30px;
}

.summary {
    padding-bottom: 60px;
}

.date1 {
    padding-top: 20px;
    padding-bottom: 140px;
}

.date2 {
    padding-bottom: 140px;
} */

/* ここまで修正前 */

/* ここから修正後 */

.write1 {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.date3 {
    width: 30%;
    color: gray;
}

.summary2 {
    width: 70%;
}

h2 {
    padding-bottom: 20px;
}

.text {
    color: dimgray;
}

/* ここまで記事 */

/* ページネーション */

.pagenation {
    max-width: 960px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
}

.pagenation li:not(:last-child) {
    margin-right: 20px;
}

.pagenation li a {
    display: block;
    padding: 15px 20px;
    line-height: 1;
    background-color: #fff;
    border: 1px solid #bbbbbb;
}

.pagenation li span {
    display: block;
    padding: 15px 20px;
    background-color: #eeeeee;
    border: 1px solid #bbbbbb;
}
